In [1]:
import requests
import json

URL = "http://localhost:5000/"
r = requests.get(URL)
print(r.text)

{'make': 'nissan', 'model': 'rogue', 'year': '2017', 'color': 'sliver', 'number of seats': '4', 'owner': 'JY', 'odometer': 3000, 'passengers': 'Tom, Jack, Mary', 'trip': [['Tom, Jack, 1000'], ['Mary, Eric, John, 80']]}

In [2]:
URL = "http://localhost:5000/car"
r = requests.get(URL)
print(r.text)

{
  "color": "sliver",
  "make": "nissan",
  "model": "rogue",
  "number of seats": "4",
  "odometer": 3000,
  "owner": "JY",
  "passengers": "Tom, Jack, Mary",
  "trip": [
    [
      "Tom, Jack, 1000"
    ],
    [
      "Mary, Eric, John, 80"
    ]
  ],
  "year": "2017"
}

In [3]:
URL = "http://localhost:5000/car/make"
r = requests.get(URL)
print(r.text)

URL = "http://localhost:5000/car/owner"
r = requests.get(URL)
print(r.text)

URL = "http://localhost:5000/car/color"
r = requests.get(URL)
print(r.text)

nissan
JY
sliver

In [4]:
URL = "http://localhost:5000/trips"
r = requests.get(URL)
print(r.text)

[
  [
    "Tom, Jack, 1000"
  ],
  [
    "Mary, Eric, John, 80"
  ]
]

In [5]:
URL = "http://localhost:5000/trips"

r = requests.post(URL, json={"new":['Ma, Sam, 120']})

In [6]:
URL = "http://localhost:5000/trips"
r = requests.get(url = URL)
print(r.text)

[
  [
    "Tom, Jack, 1000"
  ],
  [
    "Mary, Eric, John, 80"
  ],
  [
    "Andy, Sam, 120"
  ]
]